USE [master]
GO
/****** Object:  Database [Mozaika]    Script Date: 20.11.2025 14:25:51 ******/
CREATE DATABASE [Mozaika]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mozaika', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Mozaika.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mozaika_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Mozaika_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mozaika].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mozaika]
GO
/****** Object:  Table [dbo].[material]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[materialTypesId] [int] NULL,
	[pricePerOne] [int] NULL,
	[packageAmount] [int] NULL,
	[measurement] [nvarchar](10) NULL,
	[supplierId] [int] NULL,
	[scrapRate] [float] NULL,
	[description] [nvarchar](255) NULL,
	[image] [nvarchar](255) NULL,
 CONSTRAINT [PK_material$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material_supplier]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_supplier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[materialId] [int] NULL,
	[supplierId] [int] NULL,
 CONSTRAINT [PK_materialSupplier$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materialOrder]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materialOrder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[supplierId] [int] NULL,
	[workerId] [int] NULL,
	[materialId] [int] NULL,
	[stashId] [int] NULL,
 CONSTRAINT [PK_materialOrder$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materialStash]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materialStash](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stashId] [int] NULL,
	[materialId] [int] NULL,
 CONSTRAINT [PK_materialStash$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materialTypes]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materialTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[materialId] [int] NULL,
	[name] [nvarchar](50) NULL,
	[lossPercent] [float] NULL,
 CONSTRAINT [PK_materialTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[total_price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__order_it__3213E83F782F6D99] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderList]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[materialOrderId] [int] NULL,
	[materialId] [int] NULL,
	[amount] [int] NULL,
	[totalPrice] [int] NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_orderList$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partner]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[organizationName] [nvarchar](50) NULL,
	[inn] [nvarchar](50) NULL,
	[directorFIO] [nvarchar](50) NULL,
	[telNumber] [nvarchar](15) NULL,
	[email] [nvarchar](50) NULL,
	[logo] [nvarchar](255) NULL,
	[ratingId] [int] NULL,
	[sellingPlaces] [nvarchar](100) NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK_partner$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partner_order]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partner_order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NOT NULL,
	[order_date] [datetime] NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_date] [datetime] NOT NULL,
 CONSTRAINT [PK__partner___3213E83F64BE3798] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productTypeId] [int] NULL,
	[packageSize] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[article] [nvarchar](50) NULL,
	[desccription] [nvarchar](255) NULL,
	[image] [nvarchar](255) NULL,
	[minCostForPartner] [money] NULL,
	[weightWithoutPackage] [int] NULL,
	[weightWithPackage] [int] NULL,
	[qualityCertificate] [nvarchar](50) NULL,
	[standartNumber] [nvarchar](50) NULL,
	[costChange] [int] NULL,
	[selfCost] [int] NULL,
	[price] [int] NULL,
	[materialId] [int] NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productType]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[coefficient] [float] NULL,
 CONSTRAINT [PK_productType$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partnerId] [int] NULL,
	[timePeriod] [nvarchar](100) NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK_rating$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stash]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stash](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[location] [nvarchar](50) NULL,
 CONSTRAINT [PK_stash] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stash_material]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stash_material](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stashId] [int] NULL,
	[materialId] [int] NULL,
	[minStashAmount] [int] NULL,
	[amount] [int] NULL,
	[scraped] [int] NULL,
	[given] [int] NULL,
	[reserved] [int] NULL,
	[recieved] [int] NULL,
 CONSTRAINT [PK_stash_material] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 20.11.2025 14:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[supplierName] [nvarchar](50) NULL,
	[supplierType] [nvarchar](50) NULL,
	[inn] [nvarchar](50) NULL,
	[rating] [int] NULL,
	[startDealingDate] [date] NULL,
 CONSTRAINT [PK_supplier$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[material] ON 

INSERT [dbo].[material] ([id], [name], [materialTypesId], [pricePerOne], [packageAmount], [measurement], [supplierId], [scrapRate], [description], [image]) VALUES (1, N'Глина', 1, 15, 30, N'кг', NULL, NULL, NULL, NULL)
INSERT [dbo].[material] ([id], [name], [materialTypesId], [pricePerOne], [packageAmount], [measurement], [supplierId], [scrapRate], [description], [image]) VALUES (2, N'Каолин', 1, 18, 25, N'кг', NULL, NULL, NULL, NULL)
INSERT [dbo].[material] ([id], [name], [materialTypesId], [pricePerOne], [packageAmount], [measurement], [supplierId], [scrapRate], [description], [image]) VALUES (3, N'Гидрослюда', 1, 17, 25, N'кг', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[material] OFF
GO
SET IDENTITY_INSERT [dbo].[material_supplier] ON 

INSERT [dbo].[material_supplier] ([id], [materialId], [supplierId]) VALUES (1, 1, 1)
INSERT [dbo].[material_supplier] ([id], [materialId], [supplierId]) VALUES (2, 1, 2)
INSERT [dbo].[material_supplier] ([id], [materialId], [supplierId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[material_supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[materialTypes] ON 

INSERT [dbo].[materialTypes] ([id], [materialId], [name], [lossPercent]) VALUES (1, 1, N'Пластичные материалы', 5)
INSERT [dbo].[materialTypes] ([id], [materialId], [name], [lossPercent]) VALUES (2, 2, N'Добавка', 2)
INSERT [dbo].[materialTypes] ([id], [materialId], [name], [lossPercent]) VALUES (3, 3, N'Электролит', 3)
SET IDENTITY_INSERT [dbo].[materialTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[order_item] ON 

INSERT [dbo].[order_item] ([id], [order_id], [product_id], [quantity], [unit_price], [total_price]) VALUES (52, 5, 1, 1, CAST(1000.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)))
INSERT [dbo].[order_item] ([id], [order_id], [product_id], [quantity], [unit_price], [total_price]) VALUES (53, 1, 2, 1, CAST(1500.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)))
INSERT [dbo].[order_item] ([id], [order_id], [product_id], [quantity], [unit_price], [total_price]) VALUES (54, 1, 1, 2, CAST(1000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[order_item] OFF
GO
SET IDENTITY_INSERT [dbo].[partner] ON 

INSERT [dbo].[partner] ([id], [name], [type], [organizationName], [inn], [directorFIO], [telNumber], [email], [logo], [ratingId], [sellingPlaces], [rating]) VALUES (1, N'ООО "Поставщик Плюс"', N'Оптовый покупатель', N'ООО "Поставщик Плюс"', NULL, N'Иванов Иван Иванович', N'+79991234567', N'partner1@mail.ru', NULL, NULL, N'г. Москва, ул. Ленина, 1', 3)
INSERT [dbo].[partner] ([id], [name], [type], [organizationName], [inn], [directorFIO], [telNumber], [email], [logo], [ratingId], [sellingPlaces], [rating]) VALUES (2, N'ИП Петров', N'Розничный партнер', NULL, NULL, N'Петров Петр Петрович', N'+79997654321', N'partner2@mail.ru', NULL, NULL, N'г. Санкт-Петербург, Невский пр., 10', 4)
INSERT [dbo].[partner] ([id], [name], [type], [organizationName], [inn], [directorFIO], [telNumber], [email], [logo], [ratingId], [sellingPlaces], [rating]) VALUES (5, N'выфвф', N'Дистрибьютор', N'выфвф', N'0000000000', N'фывы', N'7999999', N'dasdasd@mail.ru', NULL, NULL, N'выфвф', 7)
SET IDENTITY_INSERT [dbo].[partner] OFF
GO
SET IDENTITY_INSERT [dbo].[partner_order] ON 

INSERT [dbo].[partner_order] ([id], [partner_id], [order_date], [total_amount], [status], [created_date]) VALUES (1, 1, CAST(N'2025-11-18T19:41:00.343' AS DateTime), CAST(5000.00 AS Decimal(18, 2)), N'Новая', CAST(N'2025-11-18T19:41:00.343' AS DateTime))
INSERT [dbo].[partner_order] ([id], [partner_id], [order_date], [total_amount], [status], [created_date]) VALUES (2, 1, CAST(N'2025-11-18T19:42:29.483' AS DateTime), CAST(3500.00 AS Decimal(18, 2)), N'Новая', CAST(N'2025-11-18T19:42:29.483' AS DateTime))
INSERT [dbo].[partner_order] ([id], [partner_id], [order_date], [total_amount], [status], [created_date]) VALUES (5, 5, CAST(N'2025-11-18T20:28:04.970' AS DateTime), CAST(1000.00 AS Decimal(18, 2)), N'Новая', CAST(N'2025-11-18T20:28:04.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[partner_order] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [productTypeId], [packageSize], [name], [article], [desccription], [image], [minCostForPartner], [weightWithoutPackage], [weightWithPackage], [qualityCertificate], [standartNumber], [costChange], [selfCost], [price], [materialId]) VALUES (1, NULL, NULL, N'Продукт А', NULL, NULL, NULL, 1000.0000, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[product] ([id], [productTypeId], [packageSize], [name], [article], [desccription], [image], [minCostForPartner], [weightWithoutPackage], [weightWithPackage], [qualityCertificate], [standartNumber], [costChange], [selfCost], [price], [materialId]) VALUES (2, NULL, NULL, N'Продукт Б', NULL, NULL, NULL, 1500.0000, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[product] ([id], [productTypeId], [packageSize], [name], [article], [desccription], [image], [minCostForPartner], [weightWithoutPackage], [weightWithPackage], [qualityCertificate], [standartNumber], [costChange], [selfCost], [price], [materialId]) VALUES (3, NULL, NULL, N'Продукт В', NULL, NULL, NULL, 2000.0000, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[productType] ON 

INSERT [dbo].[productType] ([id], [name], [coefficient]) VALUES (1, N'Тип продукции 1', 1.2)
INSERT [dbo].[productType] ([id], [name], [coefficient]) VALUES (2, N'Тип продукции 2', 8.59)
INSERT [dbo].[productType] ([id], [name], [coefficient]) VALUES (3, N'Тип продукции 3', 3.45)
SET IDENTITY_INSERT [dbo].[productType] OFF
GO
SET IDENTITY_INSERT [dbo].[stash] ON 

INSERT [dbo].[stash] ([id], [name], [location]) VALUES (1, N'Рижский', N'ул. Рижская')
INSERT [dbo].[stash] ([id], [name], [location]) VALUES (2, N'Пушкинский', N'ул. Пушкина')
INSERT [dbo].[stash] ([id], [name], [location]) VALUES (3, N'Павелецкий', N'ул. Павелецкая')
SET IDENTITY_INSERT [dbo].[stash] OFF
GO
SET IDENTITY_INSERT [dbo].[stash_material] ON 

INSERT [dbo].[stash_material] ([id], [stashId], [materialId], [minStashAmount], [amount], [scraped], [given], [reserved], [recieved]) VALUES (1, 1, 1, 250, 100, 0, 0, 50, 100)
INSERT [dbo].[stash_material] ([id], [stashId], [materialId], [minStashAmount], [amount], [scraped], [given], [reserved], [recieved]) VALUES (2, NULL, 25, 55, 55, NULL, NULL, NULL, NULL)
INSERT [dbo].[stash_material] ([id], [stashId], [materialId], [minStashAmount], [amount], [scraped], [given], [reserved], [recieved]) VALUES (3, NULL, 2, 250, 100, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[stash_material] OFF
GO
SET IDENTITY_INSERT [dbo].[supplier] ON 

INSERT [dbo].[supplier] ([id], [supplierName], [supplierType], [inn], [rating], [startDealingDate]) VALUES (1, N'БрянскСтройресурс', N'ЗАО', N'9.43246e+009', 8, CAST(N'2015-12-20' AS Date))
INSERT [dbo].[supplier] ([id], [supplierName], [supplierType], [inn], [rating], [startDealingDate]) VALUES (2, N'Стройкомплект', N'ЗАО', N'7.80389e+009', 7, CAST(N'2017-09-13' AS Date))
INSERT [dbo].[supplier] ([id], [supplierName], [supplierType], [inn], [rating], [startDealingDate]) VALUES (3, N'Железногорская руда', N'ООО', N'8.43039e+009', 7, CAST(N'2016-12-23' AS Date))
SET IDENTITY_INSERT [dbo].[supplier] OFF
GO
ALTER TABLE [dbo].[partner] ADD  DEFAULT ((0)) FOR [rating]
GO
ALTER TABLE [dbo].[partner_order] ADD  CONSTRAINT [DF__partner_o__order__70DDC3D8]  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[partner_order] ADD  CONSTRAINT [DF__partner_o__total__71D1E811]  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[partner_order] ADD  CONSTRAINT [DF__partner_o__statu__72C60C4A]  DEFAULT ('Новая') FOR [status]
GO
ALTER TABLE [dbo].[partner_order] ADD  CONSTRAINT [DF__partner_o__creat__73BA3083]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[material]  WITH CHECK ADD  CONSTRAINT [FK_material_materialTypes] FOREIGN KEY([materialTypesId])
REFERENCES [dbo].[materialTypes] ([id])
GO
ALTER TABLE [dbo].[material] CHECK CONSTRAINT [FK_material_materialTypes]
GO
ALTER TABLE [dbo].[material_supplier]  WITH CHECK ADD  CONSTRAINT [FK_materialSupplier_material] FOREIGN KEY([materialId])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[material_supplier] CHECK CONSTRAINT [FK_materialSupplier_material]
GO
ALTER TABLE [dbo].[material_supplier]  WITH CHECK ADD  CONSTRAINT [FK_materialSupplier_supplier] FOREIGN KEY([supplierId])
REFERENCES [dbo].[supplier] ([id])
GO
ALTER TABLE [dbo].[material_supplier] CHECK CONSTRAINT [FK_materialSupplier_supplier]
GO
ALTER TABLE [dbo].[materialOrder]  WITH CHECK ADD  CONSTRAINT [FK_materialOrder_material] FOREIGN KEY([materialId])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[materialOrder] CHECK CONSTRAINT [FK_materialOrder_material]
GO
ALTER TABLE [dbo].[materialOrder]  WITH CHECK ADD  CONSTRAINT [FK_materialOrder_stash] FOREIGN KEY([stashId])
REFERENCES [dbo].[stash] ([id])
GO
ALTER TABLE [dbo].[materialOrder] CHECK CONSTRAINT [FK_materialOrder_stash]
GO
ALTER TABLE [dbo].[materialOrder]  WITH CHECK ADD  CONSTRAINT [FK_materialOrder_supplier] FOREIGN KEY([supplierId])
REFERENCES [dbo].[supplier] ([id])
GO
ALTER TABLE [dbo].[materialOrder] CHECK CONSTRAINT [FK_materialOrder_supplier]
GO
ALTER TABLE [dbo].[materialStash]  WITH CHECK ADD  CONSTRAINT [FK_materialStash_material] FOREIGN KEY([materialId])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[materialStash] CHECK CONSTRAINT [FK_materialStash_material]
GO
ALTER TABLE [dbo].[materialStash]  WITH CHECK ADD  CONSTRAINT [FK_materialStash_stash] FOREIGN KEY([stashId])
REFERENCES [dbo].[stash] ([id])
GO
ALTER TABLE [dbo].[materialStash] CHECK CONSTRAINT [FK_materialStash_stash]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK__order_ite__order__76969D2E] FOREIGN KEY([order_id])
REFERENCES [dbo].[partner_order] ([id])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK__order_ite__order__76969D2E]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK__order_ite__produ__778AC167] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK__order_ite__produ__778AC167]
GO
ALTER TABLE [dbo].[orderList]  WITH CHECK ADD  CONSTRAINT [FK_orderList_material] FOREIGN KEY([materialId])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[orderList] CHECK CONSTRAINT [FK_orderList_material]
GO
ALTER TABLE [dbo].[orderList]  WITH CHECK ADD  CONSTRAINT [FK_orderList_material1] FOREIGN KEY([materialId])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[orderList] CHECK CONSTRAINT [FK_orderList_material1]
GO
ALTER TABLE [dbo].[orderList]  WITH CHECK ADD  CONSTRAINT [FK_orderList_materialOrder] FOREIGN KEY([materialOrderId])
REFERENCES [dbo].[materialOrder] ([id])
GO
ALTER TABLE [dbo].[orderList] CHECK CONSTRAINT [FK_orderList_materialOrder]
GO
ALTER TABLE [dbo].[partner_order]  WITH CHECK ADD  CONSTRAINT [FK__partner_o__partn__6FE99F9F] FOREIGN KEY([partner_id])
REFERENCES [dbo].[partner] ([id])
GO
ALTER TABLE [dbo].[partner_order] CHECK CONSTRAINT [FK__partner_o__partn__6FE99F9F]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_material] FOREIGN KEY([materialId])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_material]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_productType] FOREIGN KEY([productTypeId])
REFERENCES [dbo].[productType] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_productType]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_rating_partner] FOREIGN KEY([partnerId])
REFERENCES [dbo].[partner] ([id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_rating_partner]
GO
ALTER TABLE [dbo].[stash_material]  WITH CHECK ADD  CONSTRAINT [FK_stash_material_material] FOREIGN KEY([materialId])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[stash_material] CHECK CONSTRAINT [FK_stash_material_material]
GO
ALTER TABLE [dbo].[stash_material]  WITH CHECK ADD  CONSTRAINT [FK_stash_material_stash] FOREIGN KEY([stashId])
REFERENCES [dbo].[stash] ([id])
GO
ALTER TABLE [dbo].[stash_material] CHECK CONSTRAINT [FK_stash_material_stash]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [CK__order_ite__quant__787EE5A0] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [CK__order_ite__quant__787EE5A0]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [CK__order_ite__total__7A672E12] CHECK  (([total_price]>=(0)))
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [CK__order_ite__total__7A672E12]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [CK__order_ite__unit___797309D9] CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [CK__order_ite__unit___797309D9]
GO
USE [master]
GO
